@media (min-width:35em) {
    .my-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }
    .my-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }
    /* Automatische Breitenanpasung des Page content */
    .my-responsive-panel .ui-panel-page-content-open {
        width: auto;
        }
    /* Abschaltung der ui-panel-dismiss Ebene */
    .ui-panel-dismiss {
        display: none;
    }
    
    .my-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
        margin-right: 17em;
    }
    .my-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
        margin-left: 17em;
    }
    .my-responsive-panel .ui-panel-page-content-open.ui-panel-page-content-display-push {
        width: auto;
    }
    .ui-panel-dismiss-display-push {
        display: none;
    }
}